.btn{

}

.left{
    width: 500px;
    float: left;
    /*border: 3px solid red;*/
}
.right{
    width: 500px;
    float: right;
    /*border: 3px solid green;*/
    
}

.chat{
    width: 250px;
    position: absolute;
    bottom: 0;
    border: 2px solid #CCC;
    right: 0;
    z-index: 50;
    margin-right: 25px;
}
.chat ul{
    height: 250px;
}
#chatTitle{
    background-color: #7db9e8;
    padding: 5px;
    color: white;
    width: 100%;
    cursor: pointer;
    margin: 0;
}
#chatTitle p{
    margin:0 !important;
    padding: 0;
    cursor: pointer;
}
.left, .right{
    padding: 10px;
}
.input-group{
    display: block;
}
form{
    /*width: 300px;*/
}

body {
  
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*background-color: #b5dbe9 !important;*/
    background: url('/images/bg.png') center center fixed;

}

h3{
    color:#002710 !important;
    font-family: 'Cabin Sketch', cursive !important;
    font-weight: bolder;
}
h4{
    color:#083a11 !important;
    font-family: 'Short Stack', cursive !important;
}
input{
    outline: 0;
    border-radius: 0 !important;
    border-bottom-left-radius: 4px !important;

}
ul#spelers{
    background: none;
    list-style-type: "1";
}

.btn{
    border-radius: 0 !important;
    border-bottom-right-radius: 4px !important;   
}

.page{
    overflow: hidden;
    padding: 20px;
    border-radius: 25px;
    width: 1040px;
    margin: 0 auto;
    background: #d6b893; /* Old browsers */
    background: -moz-linear-gradient(top,  #d6b893 0%, #daa96b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6b893), color-stop(100%,#daa96b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d6b893 0%,#daa96b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d6b893 0%,#daa96b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d6b893 0%,#daa96b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d6b893 0%,#daa96b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6b893', endColorstr='#daa96b',GradientType=0 ); /* IE6-9 */

}


li.admin-msg{
    background-color: #7DC048 !important;
}

ul#messages li{
    margin: 2px;
}
ul#messagesChat li{
    margin: 2px;
    border-radius: 4px;
}
ul#messagesChat{
   padding-left: 0 !important;
    height: 300px;
     overflow: auto;  
}


li.chat{

}

li.chatMe{
    background-color: #7DC048;
    margin-left: 25px !important;
}


.left ul{
  width: auto;
  height: 350px;
  overflow: auto;  
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.header{
/*    margin-bottom: 25px;
    padding: 10px;
    background-color: #057fac;
    width: 100%;*/
   position: relative;
    margin-bottom: 50px;

} 
img.navImg{
    width: 1040px;
    display: block;  
}
#user{
    width: 1040px;
    margin: 0 auto;
    text-align: right;
    
}
.header .user{
    margin: 0;
    font-size: 20px;
    margin-top: -50px;
    margin-right: 100px;
    font-size: 24px;
    top: -40px;
}


.footer{
/*    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 4px;
    background-color: #057fac;
    width: 100%;*/
   ;
    
}
img.footerImg{
    width: 1000px;
    display: block;
    position: absolute;
    bottom: 0;

}
.footer p{
    margin: 0;
    color: #ececec;
}

ul{
    background-color: #e8c9a1;
    margin-bottom: 0 !important;
}

a {
  color: #00B7FF;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); 
}
.login-title{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: red;
}
ul.user-details{
    list-style: none;
}